.main-container-wrapper {
    border-top:6px solid #828f4c;
}
#menu li.current-menu-item a, #menu li.current_page_item a, #menu li.current-menu-parent a, #menu li.current_page_parent a, #menu li a.selected, #menu li a:hover {
    border-top:1px solid #828f4c;
    background:url(images/menu-tip-olive.png) top center no-repeat;
    color:#6c7839;
    padding:8px 17px 8px 17px;
    text-shadow: 0 1px 0 #daddcd;
}
#menu .ddsmoothmenu li ul {
    border-top:4px solid #828f4c;
}
.flex-caption {
    background:#eff2df;
}
.flexslider .slides span{
    color:#6c7839;
}
.flex-control-nav li a{
    background: url('images/pagination-olive.png') no-repeat 0 0;
}
.flex-control-nav li a:hover {
    background: url('images/pagination-olive.png') no-repeat 0 -14px;
}
.flex-control-nav li a.active {
    background: url('images/pagination-olive.png') no-repeat 0 -14px;
}
.searchform {
    background:url(images/search-bg-olive.png) no-repeat;
}
.searchform input[type="submit"] {
    background:url(images/search-olive.png) no-repeat;
}
.content-bar .post .post_meta a:hover{
    color:#6c7839;
}
.content-bar .post .read_more {
    color:#6c7839;
}
#contactForm input[type="submit"] {
    background:#828f4c;
}
.gallery .thumbnail li img:hover{
    border:10px solid #828f4c;
}
.sidebar ul li a:hover{
    color:#6c7839;
    text-shadow:0 0.5px 0 #daddcd;
}
.footer-wrapper .footer-top .footer ul li a:hover{
    color:#6c7839;
}
.footer-wrapper .footer a:hover{
    color:#6c7839;
}
#respond input[type="submit"] {
 background:#828f4c;
}